@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
 @import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
   
.shopping{
    border:  1px solid black;
    height: 80px;
    width: 100%;
    background-color: teal;
    position: relative;
}
#logo2{
   
    float: left;
    height:3em ;
    /* width: 170px; */
    margin: 15px 10px;
    margin-right: 100px;
}
#logo{
    margin: 15px 10px 25px 30px;
    float: left;
    height:3em ;
    width: 3em;
    
}
a{
    padding: 26px;
    margin: 0px 5px;
    float: left;
    font-size: x-large;
    color:white;
    text-decoration: none;
}
.ourcart{
    background-color: teal;
    border: 1px solid black;
    height: 250px;
    width: 300px;
    padding: 40px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    color: white;
}
p{
    margin: 40px;
    font-size: xx-large;
}

#cartimage{
    margin-left: 50px;
    margin-top: 10px;
}