.container{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    float: left;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: teal;
}
button{
    margin-top: 180px;
    margin-left: 100px;
    color: palevioletred;
    background-color: black;
}